# Copyright 2024 Google LLC
# SPDX-License-Identifier: Apache-2.0
# Base project config which contain shared attributes which
# all other projects must contain / override
[base_project_config]
name = 'base_project_config'
inherits_from = ''

[base_project_config.host_machine]
cpu_family = ''
cpu = ''
host_machine = ''
build_machine = ''

[base_project_config.meson_options]
platforms = ''
gallium-drivers = ''
vulkan-drivers = ''

[base_project_config.header_not_supported]
headers = []

[base_project_config.symbol_not_supported]
symbols = []

[base_project_config.function_not_supported]
functions = []

[base_project_config.link_not_supported]
links = []

[base_project_config.ext_dependencies]
# DependencyTargetType
#   SHARED_LIBRARY = 1
#   STATIC_LIBRARY = 2
#   HEADER_LIBRARY = 3
# See meson_impl.py

build = 'bazel'

[[project_config]]
name = 'fuchsia_aarch64_drivers'
inherits_from = 'base_project_config'

[project_config.host_machine]
cpu_family = 'aarch64'
cpu = 'aarch64'
host_machine = 'fuchsia'
build_machine = 'linux'

[project_config.meson_options]
platforms = 'none'
gallium-drivers = ''
vulkan-drivers = 'freedreno'
freedreno-kmds = 'magma'
platform-sdk-version = 33
shader-cache = 'disabled'

[project_config.header_not_supported]
headers = [
    'sys/sysmacros.h',
]

[project_config.symbol_not_supported]
symbols = [

]

[project_config.function_not_supported]
functions = [
    'getrandom',
    'memfd_create',
]

[project_config.link_not_supported]
links = [
    'strtod has locale support',
]

[project_config.ext_dependencies]
# DependencyTargetType
#   SHARED_LIBRARY = 1
#   STATIC_LIBRARY = 2
#   HEADER_LIBRARY = 3
# See meson_impl.py
zlib = [
    { target_name = '@zlib//:zlib', target_type = 2 }
]
libmagma = [
    { target_name = '@fuchsia_sdk//pkg/magma_client', target_type = 2 }
]
libmagma_virt = [
    # No targets
]
fuchsia_io = [
    { target_name = '@fuchsia_sdk//fidl/fuchsia.io:fuchsia.io_cpp', target_type = 2 }
]

# Define new project configs
# [[project_config]]
